@media screen and (min-width:800px) {
    body {
    text-align: center;
    padding: 15px;
    background-color: #EEE;
    }

    .password_generator {
    padding: 15px;
    background-color: #FFF;
    box-shadow: 5px 5px 5px #CCCCCC;
    }

    br.smartphone {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    body {
        text-align: center;
        padding: 15px;
        background-color: #EEE;
    }
    
    .password_generator {
        padding: 25px;
        background-color: #FFF;
    }

    br.smartphone {
        display: block;
    }
}